<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Paint the World | Log in</title>
		<!-- LEAFLET-JS IMPORTS -->
		<link rel="stylesheet" type="text/css" href="../style.css"/>
	<head>

	<body>

		<%-include ('../partials/header') %>

		<div id="midbox">
			<form id="myForm" action="/login" method="post">

				<label class="form_col" for="username">
					<div style="background-image: url(../images/blue.jpg); background-position: center; background-repeat: no-repeat; background-size: 15vh; padding: 3vh 4vw; margin-right: 5vw; font-size: 2vh">Username</div>
					<input name="username" id="login" type="text" placeholder="Your username" />
				</label>

				<label class="form_col" for="password">
					<div style="background-image: url(../images/orange.jpg); background-position: center; background-repeat: no-repeat; background-size: 15vh; padding: 3vh 4vw; margin-right: 5vw; font-size: 2vh">Password</div>
					<input name="password" id="password" type="password" placeholder="Your password" />
				</label>

				<label class="form_col">
					<input class = "connect_button" type="submit" value="Login" />
				</label>

			</form>
			<script src="/socket.io/socket.io.js"></script>
				<script type="text/javascript" src="/subpages/inscription.js"></script>
		</div>

		<%-include ('../partials/footer') %>


	</body>

</html>
