<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Paint the World | Sign in</title>
		<link rel="stylesheet" type="text/css" href="../style.css"/>
	<head>

	<body>

    <%-include ('../partials/header') %>
		<div id="midbox">

			<form id= "myForm" action="/inscription" method="post">

				<label class="form_col" for="name">
					<div style="background-image: url(../images/blue.jpg); background-position: center; background-repeat: no-repeat; background-size: 15vh; padding: 3vh 4vw; margin-right: 5vw; font-size: 2vh">Last name</div>
					<input name="name" id="name" type="text" placeholder="John"/>
				</label>

				<label class="form_col" for="p_nom">
					<div style="background-image: url(../images/green.jpg); background-position: center; background-repeat: no-repeat; background-size: 15vh; padding: 3vh 4vw; margin-right: 5vw; font-size: 2vh">First name</div>
					<input name="p_nom" id="p_nom" type="text" placeholder="Doe"/>
				</label>

				<label class="form_col" for="email">
					<div style="background-image: url(../images/red.jpg); background-position: center; background-repeat: no-repeat; background-size: 15vh; padding: 3vh 4vw; margin-right: 5vw; font-size: 2vh">Email @</div>
					<input name="email" id="email" type="text" placeholder="johndoe@example.com"/>
				</label>

				<label class="form_col" for="username">
					<div style="background-image: url(../images/pink.jpg); background-position: center; background-repeat: no-repeat; background-size: 15vh; padding: 3vh 4vw; margin-right: 5vw; font-size: 2vh">Username</div>
					<input name="username" id="username" type="text" placeholder="JohnD"/>
				</label>

				<label class="form_col" for="password1">
					<div style="background-image: url(../images/orange.jpg); background-position: center; background-repeat: no-repeat; background-size: 15vh; padding: 3vh 4vw; margin-right: 5vw; font-size: 2vh">Password</div>
					<input name="password1" id="password1" type="password" placeholder="John's password"/>
				</label>

				<label class="form_col" for="password2">
					<div style="background-image: url(../images/purple.jpg); background-position: center; background-repeat: no-repeat; background-size: 15vh; padding: 3vh 4vw; margin-right: 5vw; font-size: 2vh">Confirm</div>
					<input name="password2" id="password2" type="password" placeholder="John's password"/>
				</label>

				<label class="form_col">
					<input class = 'connect_button' id="signin_button" type="submit" value="Signin" disabled="disabled"/>
				</label>


			</form>
			<script src="/socket.io/socket.io.js"></script>
			<script type="text/javascript" src="/subpages/inscription.js"></script>

		</div>

		<%-include ('../partials/footer') %>
		


	</body>

</html>
