body {
    padding: 0px;
    margin: 0px;
    font-family: segoe print, importedSegoePrint, calibri, arial;
    font-size:calc(8px + 0.5vh + 0.5vw);
}

@font-face {
    font-family: 'importedSegoePrint';
    src: url('segoePrint.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 10vh;
	margin-bottom: 2vh;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	opacity: 0.5;
}

.headerbox {
	text-align: center;
	height: 4vh;
	line-height: 4vh;
	margin-top: 4vh;
	margin-bottom: 2vh;
}
.imagebox {
	text-align: center;
	height: 8vh;
}

.stains {
	height: 10vh;
	opacity: 0.9;
}

#logo {
	height: 10vh;
	opacity: 0.9;
}

#gamemap {
	height: 82vh;
	opacity : 0.5;
}

#midbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 82vh;
}

.conceptbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	line-height: 12vh;
	height: 12vh;
	width: 99vW;
}

.conceptphrase {
	line-height: 3vh;
}

#conceptbox1 {
	margin-left: 15vW;
}

#conceptbox2 {
	margin-left: 30vW;
}

#conceptbox3 {
	margin-left: 15vW;
}

#conceptbox4 {
	margin-left: 30vW;
}

.conceptphrase {
	margin-left: 3vW;
	font-size:calc(6px + 0.6vw);
}

.drawing_box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 82vh;
	margin-right: 1vw;
}

.vizbox {
	width: 85vw;
	border: none;
}

nav {
	height:81vh; 
	width:12vw;
	overflow:hidden; 
	height:80vh;
	width:13vw;
	overflow:hidden;
	overflow-y:scroll;
	text-align: center;
}

button {
	display: inline-block;
	border: none;
	text-align: center;
	font-size: 2vh;
	padding: 1vh 2vw;
	transition: all 0.5s ease-out;
	cursor: pointer;
	font-family: 'importedSegoePrint';
	color: black;
	border-radius: 2vh;
	margin-bottom: 2vh;
}

button:hover {
	opacity: 0.7;
}

/*
.details {
	position: relative;
	border: solid black;
	width: 70vw;
	height: 10vh;
}
*/

footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 6vh;
}

#contact {
	text-align: center;
	height: 4vh;
	line-height: 4vh;
}

/*ELAHDJI*/

form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: black solid;
}

.form_col {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 10vh;
	width: 80vw;
	border: green solid;
}

input {	
	border: none;
	border-radius: 1vh;
	outline: none;
	width: 20vw;
	font-family: 'importedSegoePrint';
	color: white;
	font-size: 2vh;
	text-align: center;
	padding: 1vh;
	background-image: url("./subpages/champViolet.png");
	background-position: center;
	background-repeat: no-repeat; 
	background-size: 20vw 5vh;
	transition: all 0.5s ease-out;
}

/*input:focus {
/* 	border-color: rgba(82, 168, 236, 0.75); */
/* 	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5); */
}*/

.connect_button {
	display: inline-block;
	border: none;
	text-align: center;
	font-size: 2vh;
	padding: 2vh 3vw;
	transition: all 0.5s ease-out;
	cursor: pointer;
	font-family: 'importedSegoePrint';
	color: white;
	background-color: white;
	background-image: url("./subpages/connect.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 18vh;
}

.connect_button:hover {
	opacity: 0.7;
}

.connect_button:active{
	opacity:1;
}

.correct {
	background-image: url("./subpages/champVert.png");
	background-position: center;
	background-repeat: no-repeat;
}

/*.correct:focus {
	border-color: yellow;
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}*/

.incorrect {
	background-image: url("./subpages/champRouge.png");
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.7;
}

/*.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}*/

.tooltip {
	display: inline-block;
	margin-left: 20px;
	padding: 2px 4px;
	border: 1px solid #555;
	background-color: #CCC;
	border-radius: 4px;
}


.unzoomed-map-marker{
  width: 24px !important;
  height: 24px !important;
  margin-left: -12px;
  margin-top: -12px;
  border-radius: 18px;
  border: 2px solid #3F51B5;
  text-align: center;
  color: #3F51B5;
  background-color: #fff;
  font-size: 16px;
}
