body {
    padding: 0px;
    margin: 0px;
    font-family: segoe print, importedSegoePrint, calibri, arial;
    font-size:calc(8px + 0.5vh + 0.5vw);
}

@font-face {
    font-family: 'importedSegoePrint';
    src: url('segoePrint.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 10vh;
	margin-bottom: 2vh;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	opacity: 0.5;
}

.headerbox {
	text-align: center;
	height: 4vh;
	line-height: 4vh;
	margin-top: 4vh;
	margin-bottom: 2vh;
}
.imagebox {
	text-align: center;
	height: 8vh;
}

.stains {
	height: 10vh;
	opacity: 0.9;
}

#logo {
	height: 10vh;
	opacity: 0.9;
}

#gamemap {
	height: 82vh;
	opacity : 0.5;
}

#midbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 82vh;
}

.conceptbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	line-height: 12vh;
	height: 12vh;
	width: 99vW;
}

.conceptphrase {
	line-height: 3vh;
}

#conceptbox1 {
	margin-left: 15vW;
}

#conceptbox2 {
	margin-left: 30vW;
}

#conceptbox3 {
	margin-left: 15vW;
}

#conceptbox4 {
	margin-left: 30vW;
}

.conceptphrase {
	margin-left: 3vW;
	font-size:calc(6px + 0.6vw);
}

footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 6vh;
}

#contact {
	text-align: center;
	height: 4vh;
	line-height: 4vh;
}

/*ELAHDJI*/

.form_col {
	display: inline-block;
	margin-right: 21px;
	padding: 3px;
	width: 250px;
	min-height: 2px;
	text-align: left;
}

input {
	padding: 4px;
	border: 2px solid  #A3A3A3 ;
	border-radius: 2px;
	outline: none; 
}

input:focus {
	border-color: rgba(82, 168, 236, 0.75);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

.correct {
	border-color: rgba(68, 191, 68, 0.75);
}

.correct:focus {
	border-color: rgba(68, 191, 68, 0.75);
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}

.incorrect {
	border-color: rgba(191, 68, 68, 0.75);
}

.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}

.tooltip {
	display: inline-block;
	margin-left: 20px;
	padding: 2px 4px;
	border: 1px solid #555;
	background-color: #CCC;
	border-radius: 4px;
}